//* Code Testing for the project 
Compile Test
the Phoenix.sol was compiled using chainde / bscide.com
using compiler version v0.6.2+commit.bacdbe57
phoenix.sol-compile1.jpg

The code got compiled without any error
TokenFarm.sol
compiled  using compiler version v0.6.2+commit.bacdbe57
The code got compiled without any error
TokenFarm Compile success.jpg
TokenFarm.sol
Deploy & Interact
TokenFarm.sol Deploy & Interact
Was succesfully able to deploy the code and subsiquently send tokens 2000 tokens to another testnettoken address 0xcD2786C2F36938395aA10851Ee9C19997bAFb4D0
*//
